
@model DataAccessLayer.Models.Kategoriler

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1 class="d-flex justify-content-center align-content-center align-items-center ">Category Page</h1>
<br>
<hr />

<div class="d-flex justify-content-center align-content-center align-items-center ">
    <input type="button" name="name" class="d-flex justify-content-center align-content-center align-items-center btn btn-lg btn-info " value="Activate to select category" />
</div>
<br />
<br />
<div id="cmbId">
    @using (@Html.BeginForm("CategorySelect", "Category", FormMethod.Post))
    {

        @Html.DropDownListFor(x => x.KategoriAdi, (List<SelectListItem>)ViewBag.select, new { @class = "form-control" })
    }

</div>

<br />
<br />

@await Component.InvokeAsync("CmbCategory")


<hr />
<br />
